<iframe #frameElement (load)="load()" frameborder="0" height="100%" src="../../../assets/index.html"
        width="100%"></iframe>

<div #canvasWrapper cdkDrag class="drag-container">
  <div class="canvas-wrapper">
    <div cdkDragHandle class="handle">
      <svg fill="currentColor" viewBox="0 0 24 24" width="24px">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <div (click)="onToggleDraw()" class="toggle-button">
      <mat-icon>edit</mat-icon>
    </div>
    <canvas id="fabricSurface"></canvas>
  </div>
  <div *ngIf="isDraw" class="buttons">
    <button (click)="onAddShape('rect')" color="primary" mat-mini-fab matTooltip="Draw rectangle">
      <mat-icon>rectangle</mat-icon>
    </button>
    <button (click)="onAddShape('triangle')" color="primary" mat-mini-fab matTooltip="Draw triangle">
      <mat-icon>change_history</mat-icon>
    </button>
    <button (click)="onAddShape('oval')" color="primary" mat-mini-fab matTooltip="Draw circle">
      <mat-icon>
        circle
      </mat-icon>
    </button>
    <button (click)="onAddShape('polygon')" color="primary" mat-mini-fab matTooltip="Draw polygon">
      <mat-icon>polyline</mat-icon>
    </button>
    <button (click)="onSave()" color="primary" mat-mini-fab matTooltip="Save layout">
      <mat-icon>save</mat-icon>
    </button>
    <button (click)="onDelete()" color="primary" mat-mini-fab matTooltip="Delete layout">
      <mat-icon>delete</mat-icon>
    </button>
    <button (click)="onDownload()" color="primary" mat-mini-fab matTooltip="Download layout">
      <a [href]="downloadJsonHref" download="download.json">
        <mat-icon>download</mat-icon>
      </a>
    </button>
    <button (click)="fileInput.click()" color="primary" mat-mini-fab matTooltip="Upload layout">
      <mat-icon>upload</mat-icon>
    </button>
    <input #fileInput (change)="onFileSelected($event)" hidden id="file" type="file">
    <button [matMenuTriggerFor]="menu" color="primary" mat-mini-fab matTooltip="Select layout">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button (click)="onKeyboardSelect(keyboard)" *ngFor="let keyboard of keyboards" mat-menu-item>
    <span>{{ keyboard }}</span>
  </button>
</mat-menu>
