canvas {
  border: 1px solid #cccccc;
  width: 100%;
  height: 100%;
}

.drag-container {
  display: inline-block;
  position: fixed;
  top: 25%;
  left: 25%;
  box-sizing: border-box;
  z-index: 1;
  background-color: transparent;
}

.canvas-wrapper {
  display: inline-block;
  position: relative;
  resize: both;
  overflow: hidden;
  height: 500px;
  width: 500px;
  background-color: transparent;
  color: transparent;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: lightgray;
}

.handle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: move;
  width: 24px;
  z-index: 3;
  height: 24px;
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: 40px;
  z-index: 3;
  color: white;
  cursor: pointer;
}

a {
  color: white;
}
