<canvas id="fabricSurface"></canvas>
<button (click)="onAddShape('rect')" mat-flat-button color="primary">Rect</button>
<button (click)="onAddShape('triangle')" mat-flat-button color="primary">Triangle</button>
<button (click)="onAddShape('circle')" mat-flat-button color="primary">Circle</button>
<button (click)="onAddShape('oval')" mat-flat-button color="primary">Oval</button>
<button (click)="onAddShape('polygon')" mat-flat-button color="primary">Polygon</button>
<button (click)="onToogleDraw()" mat-flat-button color="primary">Toogle drawing</button>
