<h1 mat-dialog-title>Configuration</h1>
<div class="content" mat-dialog-content>
  <h3>Key: <b>{{ key }}</b></h3>
  <mat-form-field appearance="outline">
    <mat-label>Font size</mat-label>
    <input (keyup)="validatePositiveNumber()" [formControl]="fontSize" matInput placeholder="Enter a positive number"
           type="number">
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="isPolygon">
    <mat-label>Number of edges</mat-label>
    <input (keyup)="validatePolygon()" [formControl]="edgeCount" matInput placeholder="Enter number of edges"
           type="number">
  </mat-form-field>
  <mat-label>Field color</mat-label>
  <input [(colorPicker)]="buttonColor" [style.background]="buttonColor"/>
  <mat-label>Border color</mat-label>
  <input [(colorPicker)]="borderColor" [style.background]="borderColor"/>
  <mat-label>Text color</mat-label>
  <input [(colorPicker)]="textColor" [style.background]="textColor"/>
</div>
<div mat-dialog-actions>
  <button (click)="confirm()" color="primary" mat-flat-button>Confirm</button>
  <button (click)="cancel()" color="primary" mat-flat-button>Cancel</button>
</div>
<!-- Add a button to confirm the changes -->
